<section id="info" style="padding: 40px 0; background-color: #f8f9fe;">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>
                    <div>Symptoms of COVID-19</div>
                </h1>
                <p>If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your health provider as soon as possible for medical advice.
                </p>
            </div>
        </div>
        <div class="row text-center justify-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3  mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/congestion and runny nose.jpg"/>
                <h4><strong>Congestion</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/fever.png"/>
                <h4><strong>Fever</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/coughing.png"/>
                <h4><strong>Cough</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/diarrhea.svg"/>
                <h4><strong>Diarrhea</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4  col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/diarrhea.svg"/>
                <h4><strong>Headache</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/breathing difficulty.png"/>
                <h4><strong>Shortness of Breath</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/no taste.svg"/>
                <h4><strong>New: Loss of taste or smell</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/jhmneckache.png"/>
                <h4><strong>Muscle or body aches</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/fatigue.svg"/>
                <h4><strong>Fatigue</strong></h4>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <img class="img-fluid mb-2" style="border-radius: 50%; width: 175px;" src="../../assets/vomit.svg"/>
                <h4><strong>Nausea or Vomiting</strong></h4>
            </div>
        </div>
    </div>
</section>