<section class="my-4" id="state">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col">
                <img src="../../assets/state.png" height="40" width="40"/>
                <h4>Statewise Statistics</h4>
            </div>
        </div>
        <select class="custom-select mx-10" (change)="onStateChanged($event)">
            <option>Choose a State</option>
            <option *ngFor = "let state of this.dataList" value="{{state.loc}}" >
                {{state.loc}}
            </option>
        </select>
    </div>
    <div *ngIf="this.stateSelected" class="container">
        <div class="row py-2 text-white">
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <div class="card my-2 py-2 bg-warning" style="border-radius: 10px;">
                    <div class="card-title"><h5>TOTAL CONFIRMED</h5></div>
                    <img src="" alt="" class="card-img img-fluid" height="40px">
                    <div class="card-text">
                        <h5 [countUp]="this.totalConfirmed">0</h5>
                    </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <div class="card card my-2 py-2 bg-success" style="border-radius: 10px;">
                    <div class="card-title"><h5>TOTAL RECOVERED</h5></div>
                    <img src="" alt="" class="card-img img-fluid">
                    <div class="card-text">
                        <h5 [countUp]="this.totalRecovered">0</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <div class="card my-2 py-2 bg-danger" style="border-radius: 10px;">
                    <div class="card-title"><h5>TOTAL DEATHS</h5></div>
                    <img src="" alt="" class="card-img img-fluid">
                    <div class="card-text"><h5 [countUp]="this.totalDeaths">0</h5></div>
                </div>
            </div>
        </div>
    </div>
</section>